<!DOCTYPE html>
<html lang="">
<%- include('../template/head')-%>
<head>
    <meta charset="UTF-8">
    <title>Game Title Here</title>
    <script src="/javascripts/phaser.min.js">
    </script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/stateMain.js" async></script>
    <script src="/javascripts/alignGrid.js"></script>
</head>

<body>
  <div class="ulambuttoncontainer" id="updiv">
    <button class="scale upButton" id="upbutt">up</button>
  </div>
  <div class="ulambuttoncontainer" id="downdiv">
    <button class="scale downButton" id="downbutt">down</button>
  </div>
</body>

</html>
