#navbox{
  color:black;
}

.nav-link:visited{
  color:black;
  font-style:large;
}

.nav-link{
  color:red;
  font-style:large;
}

#navbarbox:visited{
   background-color: red;
}

.numcir:before {
  content: ' \25CF';
  font-size: 200px;
}

.Button{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: green;
}

div.ulambuttoncontainer{
  position:fixed;
  bottom:0;
  right:0;
}

#updiv{
  right:100px;
}

/*This is the button will add spot 
#addSpotButton{
  position: fixed; 
  bottom: 4%;
  right: 8%;
}*/

.custom-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
  font-family: sans-serif;
  background: #FFF;
  color: #333;
  border-radius: 5px;
  padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
  padding: 8px 12px;
  cursor: pointer;
  list-style-type: none;
  transition: all .3s ease;
  user-select: none;
}

.custom-menu li:hover {
  background-color: #DEF;
}