<!-- Navigation Partial Template -->
<header class="masthead mb-auto">
    <div class="inner" re>
        <h3 class="masthead-brand">Jace Parks</h3>
        <div class="navbarbox" id="navbarbox">
          <nav class="nav nav-masthead justify-content-center">
              <div id="navbarelement" class="navbarelement">
                <a id='home' class="nav-link" href="test.ejs">Home</a>
              </div>
              <div id="navbarelement" class="navbarelement">
                <a id='contact' class="nav-link" href="test.ejs">contact</a>
              </div>
              <div id="navbarelement" class="navbarelement">
                <a id='portfolio' class="nav-link" href="test.ejs">portfolio</a>
              </div>
              <div id="navbarelement" class="navbarelement">
                <a id='portfolio' class="nav-link" href="Ulamspiral">Ulam Spiral</a>
              </div>
              <div id="navbarelement" class="navbarelement">
                <a id='portfolio' class="nav-link" href="skatemaps">skate map</a>
              </div>
          </div>
        </div>
</header>
